{% extends "base.html" %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
        <title>Osmos Tracker</title>
    </head>
    
    <h1>Active Assignments</h1>

    <div class="container">
        
        <div class="card-div">
            <div class="card">
                <p class="card-header1">Pending Tasks</p>
                <p class="card-number">12</p>
                <div class="tally">
                    <p class="card-tally-pending">+2 this week</p>
                </div>
            </div>

            <div class="card">
                <p class="card-header1">Completed</p>
                <p class="card-number">45</p>
                <div class="tally">
                    <p class="card-tally-completed">+1 today</p>
                </div>
            </div>

            <div class="card">
                <p class="card-header1">Pending Tasks</p>
                <p class="card-number">12</p>
                <div class="tally">
                    <p class="card-tally-due">+2 this week</p>
                </div>
            </div>
        </div>
    
        <div class="table-div">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="?sort=due">Due</a>
                    <a class="dropdown-item" href="?sort=course">Course</a>
                    <a class="dropdown-item" href="?sort=points">Points</a>
                    <a class="dropdown-item" href="?sort=priority">Priority</a>
                </div>
            </div>

            <table class="assignment-table">
                <tr>
                    <th>Assignment Name</th>
                    <th>Course</th>
                    <th>Due Date</th>
                    <th>Priority</th>
                    <th>Status</th>
                </tr>

                {% for assignment in assignments %}
                    <tr>
                        <td class="title">{{assignment.title}}</td>
                        <td><a class="course-name">{{assignment.course.course_name}}</a></td>
                        <td>{{assignment.due}}</td>
                        <td class="priority">{{"%.2f"|format(assignment.priority_score)}}</td>
                        <td class="status">{{assignment.status}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>test1</td>
                    <td><a class="course-name">Macroeconomics</a></td>
                    <td>test3</td>
                    <td>test4</td>
                    <td>test5</td>
                </tr>
            </table>
        </div>

    </div>
        
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Sort by
            </button>
        </div>

        <div>
            <button type="button" class="btn btn-primary" id="sync" onclick=sync()>
                Sync Now
            </button>
        </div>

        <p id="alert"></p>

        <dialog id="confirmDeleteDialog">
            <p>Are you sure you want to delete the assignment?</p>
            <div>
                <form id="deleteForm" method="POST">
                    {{ deleteForm.submit }}
                </form>
            </div>
            <div>
                <button id="closeDialog" onclick=closeDialog(this)>Cancel</button>
            </div>
        </dialog>

        <dialog id="deleteDialog">
            <p id="deleteMessage"></p>
            <div>
                <button id="closeDialog" onclick=closeDialog(this)>Confirm</button>
            </div>
        </dialog>
    </div>
{% endblock %}

{% block scripts %}
<script>

    function confirmDeleteDialog() {
        const confirmDialog = document.getElementById("confirmDeleteDialog");

        const button = document.getElementById("deleteButton");
        const assignment_id = button.dataset.assignmentId;

        const form = document.getElementById("deleteForm");
        form.action = `/dashboard/assignments/delete/${assignment_id}`;

        confirmDialog.showModal();
    }
    function closeDialog() {
        const cloesDialog = document.getElementById(this.closest("dialog"));
        closeDialog.close();
    }
    function deleteDialog(message) {
        const deleteDialog = document.getElementById("deleteDialog");
        const text = document.getElementById("deleteMessage");
        text.textContent = message;
        deleteDialog.showModal();
    }

    function syncFail() {
        const host = document.getElementById("alert")
        host.innerHTML = `
        <div class="alert alert-danger" role="alert">
            Sync failed!
        </div>
        `;
    }

    function syncSuccess() {
        const host = document.getElementById("alert")
        host.innerHTML = `
        <div class="alert alert-success" role="alert">
            Sync success! Refreshing page...
        </div>
        `;
    }

    async function sync() {
        console.log("Sync starts")
        const button = document.getElementById("sync");
        button.disabled = true;
        try {
            const result = await fetch("/dashboard/assignments/sync", {
                method: "POST",
                headers: { "Content-Type": "application/json" }
            });

            const contentType = result.headers.get("Content-Type") || "";
            if (!contentType.includes("application/json")) {
                alert("Login session invalid, please login again");
                return;
            }

            const data = await result.json();

            if (!result.ok || data.status !== "success") {
                syncFail()
                return;
            }

            syncSuccess();

            setTimeout(() => location.reload(), 2000);
        }
        finally {
            button.disabled = false;
        }
    }
</script>

{%with messages = get_flashed_messages(with_categories=true)%}
{%if messages%}
{% for category, msg in messages %}
{% if category == "deleteTrue" %}
<script>
    deleteDialog({{ msg| tojson }});
</script>
{%endif%}
{% if category == "token" %}
<script>
    deleteDialog({{ msg| tojson }});
</script>
{%endif%}
{%endfor%}
{%endif%}
{%endwith%}
{% endblock %}

