## python
python-dotenv
## password
argon2-cffi
## flask
Flask
Flask-Login
Flask-SQLAlchemy
psycopg2-binary
Flask-WTF
WTForms
## Google API
google-api-python-client
google-cloud-recaptcha-enterprise
## Google OAuth
google-auth
google-auth-httplib2
google-auth-oauthlib

oauthlib
requests
