{% extends "base.html" %}

{% block content %}

{% block head %}
<title>Calendar</title>
{%  endblock %}

<div class="col">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&title&src=Y2hvd2VtbWVsaW5lQGdtYWlsLmNvbQ&src=ZmFtaWx5MTIxMTY1ODY5MTY2NDIyNjUxMjZAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ODU5Y2Q5N2E4ZmExYTk2MGQwMzk4ZjFjZjc5YjdjMDY2NWE3M2YyNzhlNDMwNTg3M2E4OTJlNGY0ZmQyNWViMEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udGgjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039be5&color=%23ef6c00&color=%238e24aa&color=%230b8043" 
        style="border-width:0" 
        width="800" 
        height="600" frameborder="0" scrolling="no"></iframe>
    <form method="POST" action="{{url_for('calendar.sync')}}">
        {{submitForm.hidden_tag()}}
        {{submitForm.submit(class_="btn btn-primary", label="Sync")}}
    </form>
</div>


{% block scripts %}

{%  endblock %}

{%  endblock %}