{% extends "base.html" %}

{% block content %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}">
<title>Calendar</title>
{%  endblock %}

<div class="col">
    <p> Google Calendar view has not been implemented yet! </p>
    <div class="row m-2">
        <form class="w-auto align-self-end ms-auto" method="POST" action="{{url_for('calendar.sync')}}">
            {{submitForm.hidden_tag()}}
            <button type="submit" class="btn btn-primary" id="sync">
                <img class="btn-icon" src="{{ url_for('static', filename='images/icons/sync1.svg') }}">
            Sync with Calendar 
            </button>
        </form>
    </div>
</div>


{% block scripts %}

{%  endblock %}

{%  endblock %}
