:root{
    --shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.07), 2px 2.5px 2.5px hsla(0, 0%, 0%, 0.10);

    --bg-dark: oklch(0.92 0.01 255);
    --bg: oklch(0.96 0.01 255);
    --bg-light: oklch(1 0.01 255);
}   

.container, .assignment {
    width: 100%;
    align-self: center;
    margin: auto;
    margin-top: 2.5rem;
}

.wrapper {
    display: flex;
    position:relative;
    width: 100%;
    font-family: "Manrope", sans-serif;
    min-height: 100vh;
    align-items: stretch;
}

html, body {
    min-height: 100%;
    margin: 0;
    overscroll-behavior: none;
}

.main {
    flex: 1;
    min-height: 100vh;
}

.sidebar-div {
    height: 100vh;
    position: sticky;
    top: 0;
    align-self: flex-start;
    flex-shrink: 0;
}

.item {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.sidebar {
    width: 20rem;
    background-color: #1A1A1A;
    list-style: none;
    margin: 0;
    padding-left: 2.5rem;
    box-shadow: var(--shadow);
    border-right: 1px solid var(--bg-dark);

    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
}

.main-content {
    flex: 1;
    padding: 2rem;
}

.sidebar-link {
    display: flex;
    flex-direction: row;
    font-size: large;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    padding: 0.5rem;
    padding-right: 0rem;
}

.sidebar-link{
    padding: 1rem;
    width: 15rem;
}

.sidebar-link {
    border-radius: 0.5rem;
    transition: background-color 0.35s ease-in-out, 
                border-radius 0.35s ease-in-out;
}

.sidebar-link .text1,
.sidebar-link .nav-img {
  transition: color 0.35s ease-in-out, filter 0.35s ease-in-out;
}

.sidebar-link:hover{
    border-radius: 0.5rem;
    background-color: #ebeced1a;
}

.sidebar-link:hover .text1{
 color:#ebeced;

}

.sidebar-link:hover .nav-img{
    filter: invert(75%);
}

a {
  text-decoration: none;
}

.text1{
    text-decoration: none;
    color: #ebeced;
    font-weight: medium;
}

.brand {
    display: flex;
    justify-content: center;
    font-weight: 600;
    transform: translateY(-150%);
    margin-right: 5rem;
}

.nav-img {
    filter: invert(45%);
    height: 2rem;
    width: 2rem;
    transform: translateY(-5%);
}

.nav-logo {
    margin-left: 1rem;
    filter: invert(100%);
    height: 10rem;
    width: 10rem;
}

.yes {
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background-color: #d1fae5;
    border: 1px solid #b0f4d5;
    border-radius: 1rem;

    font-weight: 550;
    color: #057958;
}

.no {
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background-color: #f1f5f9;
    border: 1px solid #e5ebf2;
    border-radius: 1rem;

    font-weight: 550;
    color: #64748b;
}
