:root{
    --bg-dark: oklch(0.92 0.01 255);
    --bg: oklch(0.96 0.01 255);
    --bg-light: oklch(1 0.01 255);
    --bg-header: oklch(0.98 0.01 255);

    --text: oklch(0.15 0.02 255);
    --text-muted: oklch(0.4 0.02 255);
}

table, .course-table {
    border-collapse: collapse;

    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid var(--bg-dark);
    border-radius: 12px;

    border-spacing: 0;
    overflow: hidden;
}

th {
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: var(--bg-header);
    color: var(--text-muted);
    text-align: left;
}

td {
    color: var(--text-muted);
}

th, td {
    border: none;
    padding: 1rem;
}

.yes {
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background-color: #d1fae5;
    border: 1px solid #b0f4d5;
    border-radius: 1rem;

    font-weight: 550;
    color: #057958;
}

.no {
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background-color: #f1f5f9;
    border: 1px solid #e5ebf2;
    border-radius: 1rem;

    font-weight: 550;
    color: #64748b;
}

.course-table .delete{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.15s ease-in-out;
}

.course-table .table-row:hover .delete{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header1 {
    padding-left: 0;
}

