a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.container, .main-box {
    font-family: "Manrope", sans-serif; 
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

.main-box {
    padding: 2rem;
    height: 35rem;
    bottom: -10px;
    width: 25rem;
    max-width: 90vh;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    box-shadow:
    0rem 0rem 1rem #bebebe
}

.form-group {
    position: relative;
    width: 15rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-group input[type="text"], .form-group input[type="password"] {
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    border: 2px solid #dfe1e5;
    outline: none;
    gap: 1rem;
    padding-left: 2.5rem;
}

.btn-submit {
    outline: none;
    width: 100%;
    padding: 0.5rem; 
    border-radius: 1rem;
    background: transparent;
    border: 3px solid #200202;
    color: #202020;
    position: relative;
}

.btn-submit::after {
    content: "";
    position: absolute;
    border-radius: 0.5rem;
    width: 0rem;
    height: 105%;
    top: 0;
    left: 0rem;
    background-color: #200202;
    transition: width 0.3s ease;
    z-index: -1;
}

.btn-submit:hover::after {
  width: 100%;
}

.btn-submit:hover {
  color: white;
}

.logo {
    width: 10rem;
    height: 5rem;
    transform: translateY(20%);
}

.form-img {
    width: 1.25rem;
    height: 1.25rem;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    filter: invert(45%);
}

h1 {
    gap: 1rem;
    font-weight: bold;
    font-size: x-large;
}

.create-account {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

.text2{
    display: flex;
    align-items: center;
    color:#747474;
}

.hyperlink{
    display: flex;
    min-width: 5rem;
    text-decoration: none;
    color:#202020;
}

.hyperlink:hover {
    color:#202020;
    font-weight: bold;
}

.g-sign {
    transform: translateY(-50%);
}

.link{
    outline: none;
    text-decoration: none;
    color: #202020;
}
