{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='settings.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">
{%  endblock %}
{% block content %}
<div class="container">

    <div class="col">
        <div class="row" id="accountInfo">
            <h1 class="heading1">Account</h1>
            <div class="col" id="username">
                <p class="heading2">Username</p>
                <p class="text1">John Doe</p>
            </div>
            <div class="col" id="userId">
                <p class="heading2">User ID</p>
                <p class="text1">12345</p>
            </div>
        </div>
        <div class="row" id="settings">
            <h1 class="heading1">Settings</h1>
            {% for subfield in scoreForm.function %}
                {% if loop.index0 == 0 %}
                    <div class="w-auto d-flex align-items-center">
                        {{subfield(class_="form-check-input ms-auto", type="radio")}}
                        <label class="btn btn-radio mb-0" for="{{subfield.id}}">{{subfield.label.text}}</label>
                        <button type="button" class="btn w-auto"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="
                                Priority increases exponentially as the
                                deadline approaches 72 hours. Best for last minute work.">
                            <img src="{{ url_for('static', filename='images/icons/info.svg') }}">
                        </button>
                    </div>
                {% else %}
                    <div class="w-auto d-flex align-items-center">
                        {{subfield(class_="form-check-input ms-auto", type="radio")}}
                        <label class="btn btn-radio mb-0 " for="{{subfield.id}}">{{subfield.label.text}}</label>
                        <button type="button" class="btn w-auto"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="
                                Priority increases smoothly and continuously over 
                                1 week (168 hours). Best for steady, consistent work.">
                                <img src="{{ url_for('static', filename='images/icons/info.svg') }}">
                        </button>
                    </div>
                {%endif%}
            {%endfor%}
        </div>
        <div class="row" id="integrations">
            <h1 class="heading1">Integrations</h1>
            <p>...</p>
        </div>
        <div class="row" id="logout">
            <button class="btn btn-primary w-auto">
                <img src="{{ url_for('static', filename='images/icons/logout.svg') }}">
                Logout from Account
            </button>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}
