{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='settings.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toast.css') }}">
{%  endblock %}
{% block content %}

<div class="container">
    <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <img src="{{url_for('static', filename='images/icons/check1.svg')}}" class="rounded me-2" alt="...">
        <strong class="me-auto">System</strong>
        <small>Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">How to get Canvas Token</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span>1. Head over to your Canvas Dashboard, select profile</span>
            <img class="img-canva" src="{{url_for('static', filename='images/canvas/1.svg')}}">
            <span>2. Select Settings</span>
            <img class="img-canva" src="{{url_for('static', filename='images/canvas/2.svg')}}">
            <span>3. Scroll down from Settings</span>
            <img class="img-canva" src="{{url_for('static', filename='images/canvas/3.svg')}}">
            <span>4. Click "Create New Access Token"</span>
            <img class="img-canva" src="{{url_for('static', filename='images/canvas/4.svg')}}">
            <span>5. Fill out info, including expiration time. Once token expires, 
            you need to resubmit to Osmos Tracker. Once finished, select <strong>"Generate Token"</strong></span>
            <img class="img-canva" src="{{url_for('static', filename='images/canvas/5.svg')}}">
            <span>6. Copy the token and submit it inside Osmos Tracker</span>
            <img class="img-canva" src="{{url_for('static', filename='images/canvas/6.svg')}}">
            <div>
            <strong>WARNING!</strong> Do not share your token with anyone! Once you close the tab 
            you cannot view your token again!</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

    <div class="col">
        <div class="row" id="accountInfo">
            <h1 class="heading1">Account</h1>
            <div class="col" id="userId">
                <p class="heading2">Username</p>
                <p class="text2">{{user.username}}</p>
            </div>
            <div class="col" id="google">
                <p class="heading2">User ID</p>
                <p class="text2">{{user.user_id}}</p>
            </div>
            <div class="col" id="google">
                <p class="heading2">Google Account?</p>
                <p class="text2">
                {% if user.refresh_token%}
                    Yes
                {% else %}
                    No 
                {%endif%}
                </p>
            </div>
        </div>
        <h1 class="heading1">Settings</h1>
        <div class="row" id="settings">
            <form method="POST" action="{{url_for('settings.setFunction')}}">
                {{scoreForm.csrf_token(id='scoreForm_csrf_token')}}
                <div class="w-auto d-flex align-items-center">
                {% for subfield in scoreForm.function %}
                    {% if loop.index0 == 0 %}
                        
                            {{subfield(class_="form-check-input", type="radio")}}
                            <label class="btn btn-radio mb-0" for="{{subfield.id}}">{{subfield.label.text}}</label>
                            <button type="button" class="btn w-auto"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="
                                    Priority increases exponentially as the
                                    deadline approaches 72 hours. Best for last minute work.">
                                <img src="{{ url_for('static', filename='images/icons/info.svg') }}">
                            </button>
                        
                    {% else %}
                            {{subfield(class_="form-check-input", type="radio")}}
                            <label class="btn btn-radio mb-0 " for="{{subfield.id}}">{{subfield.label.text}}</label>
                            <button type="button" class="btn w-auto"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="
                                    Priority increases smoothly and continuously over 
                                    1 week (168 hours). Best for steady, consistent work. (Default)">
                                    <img src="{{ url_for('static', filename='images/icons/info.svg') }}">
                            </button>
                    {%endif%}
                {%endfor%}
                </div>
                {{scoreForm.submit(class_="btn btn-primary", id="submit1")}}
            </form>
        </div>
        <h1 class="heading1 mb-1 mt-1">Integrations</h1>
        <div class="row" id="integrations">
            <div class="d-flex align-items-center gap-2 mb-2 flex-wrap">
            {% if calendarId is not none %}
                <span class="pr-1 w-auto">Google Calendar</span>
                <button class="btn btn-secondary" onclick="client.requestCode();">
                Reauthorize with Google</button>
                <span class="success pr-1 w-auto">Signed in</span>
            {% else %}
                <span class="pr-1 w-auto">Google Calendar</span>
                <button class="btn btn-secondary" onclick="client.requestCode();">
                Authorize with Google</button>
            {% endif %}
            </div>

            <form method="POST" action="{{ url_for('settings.setToken', _external=True, _scheme='http') }}">
                {{tokenForm.csrf_token(id='tokenForm_csrf_token')}}
                <div class="row w-auto align-items-center">
                    <span class="pr-1 w-auto">Canvas Token</span>
                        <button type="button" class="btn w-auto" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">
                            <img src="{{ url_for('static', filename='images/icons/info.svg') }}">
                        </button>
                    {{tokenForm.token(class_="input w-25")}} 
                    {{tokenForm.submit(class_="d-none", id="submit2")}}
                    <button type="submit" class="btn btn-submit d-flex justify-content-center">
                        <img class="" src="{{ url_for('static', filename='images/icons/check1.svg')}}">
                    </button>
                </div>
            </form>
        </div>
        <div class="row mt-5" id="logout">
            <form method="POST" action="{{ url_for('settings.logout') }}">
                <button type="submit" class="btn btn-primary w-auto">
                    <img class="icon" src="{{ url_for('static', filename='images/icons/logout.svg') }}">
                    Logout from Account
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://accounts.google.com/gsi/client"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    function createToast(message, type) {
        const toastLiveExample = document.getElementById('liveToast');
        toastLiveExample.setAttribute("class", `toast ${type}`);
    
        
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
        const toastBody = toastLiveExample.querySelector('.toast-body');
        toastBody.innerHTML = message;
        toastBootstrap.show()
    }

    console.log("{{url_for('settings.authGoogle', _external=True)}}")
    const client = google.accounts.oauth2.initCodeClient({
    client_id: '191762128708-9so20p8m4l0qmurgeb7t5v6tbh67tr7t.apps.googleusercontent.com',
    scope: 'https://www.googleapis.com/auth/calendar',
    ux_mode: 'popup',
    callback: (response) => {
        const xhr = new XMLHttpRequest();
        xhr.open('POST', "{{url_for('settings.authGoogle', _external=True)}}", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        // Set custom header for CRSF
        xhr.setRequestHeader('X-Requested-With', 'XmlHttpRequest');
        xhr.onload = function() {
        console.log('Auth code response: ' + xhr.responseText);
        };
        xhr.send('code=' + response.code);
    },
    });

</script>
{%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages%}
        {% for category, msg in messages %}
            {% if category == "success" %}
                <script>
                    createToast({{msg|tojson}}, "toast-success")
                </script>
            {%endif%}
        {%endfor%}
    {%endif%}
{%endwith%}
{% endblock %}
