<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Browse Courses</title>

    <!-- Bootstrap CSS (v4.3.1) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>
<title>Browse Courses</title>

<body>

    <div class="container">
        <h1>Browse Courses</h1>
    </div>

    <p id="alert"></p>

    {% for course in courses %}
    <div>
        <h1>Coures Name: {{course.course_name}}</h1>
        <p>Canvas ID: {{course.canvas_course_id}} </p>
        <p>Weight: {{course.weight}}</p>
        <div>
            <div>
                <button id="deleteButton" onclick=confirmDeleteDialog(this) type="button" class="btn btn-danger"
                    data-course-id="{{ course.course_id }}">
                    Delete
                </button>

                <button id="setWeightButton" onclick=confirmSetWeightDialog(this) type="button" class="btn btn-primary"
                    data-course-id="{{ course.course_id }}">
                    {{weightForm.course_id(value=course.course_id)}}
                    Set Weight
                </button>
            </div>
            {% endfor %}

            <dialog id="mainDialog">
                <p id="message"></p>
                <div>
                    <button id="closeDialog" onclick=closeDialog()>Confirm</button>
                </div>
            </dialog>

            <dialog id="confirmDeleteDialog">
                <p>WARNING!</p>
                <p>This will delete all assignments associated with this course.</p>
                <div>
                    <form id="deleteForm" method="POST">
                        {{ deleteForm.submit }}
                    </form>
                </div>
                <div>
                    <button id="closeDialog" onclick=closeDialog(this)>Cancel</button>
                </div>
            </dialog>

            <dialog id="setWeightDialog">
                <p>Choose a weight for this course:</p>
                <div>
                    <form id="WeightForm" method="POST" action="{{ url_for('courses.updateCourseWeight') }}">
                        {{ weightForm.hidden_tag() }}
                        <p>{{ weightForm.weight }}</p>
                        <p>{{ weightForm.submit }}</p>
                    </form>
                </div>
                <div>
                    <button id="closeDialog" onclick=closeDialog(this)>Cancel</button>
                </div>
            </dialog>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="?sort=name">Name</a>
                    <a class="dropdown-item" href="?sort=weight">Weight</a>
                </div>
            </div>

            <!-- Bootstrap JS dependencies -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
            <script>
                function showDialog(message) {
                    document.getElementById("mainDialog").showModal();
                    document.getElementById("message").innerHTML = message;
                }
                function closeDialog() {
                    const dialog = document.getElementById("mainDialog");
                    dialog.close();
                }
                function confirmDeleteDialog(button) {
                    const confirmDialog = document.getElementById("confirmDeleteDialog");

                    const course_id = button.dataset.courseId;

                    const form = document.getElementById("deleteForm");
                    form.action = `/dashboard/course/delete/${course_id}`;

                    confirmDialog.showModal();
                }
                function confirmSetWeightDialog(button) {
                    const course_id = button.dataset.courseId;
                    console.log("CourseID:" + course_id);
                    hidden = document.getElementById("WeightForm").elements["course_id"];
                    hidden.value = course_id;
                    console.log("Hidden:" + hidden.value);
                    const setWeightDialog = document.getElementById("setWeightDialog");
                    setWeightDialog.showModal();

                }

                function weightAlert() {
                    const host = document.getElementById("alert")
                    host.innerHTML = `
            <div class="alert alert-success" role="alert">
                Weight updated successfully!
            </div>
            `;
                    setTimeout(() => {
                        host.innerHTML = "";
                    }, 5000);

                }
                function redAlert(message) {
                    const host = document.getElementById("alert")
                    host.innerHTML = `
            <div class="alert alert-danger" role="alert">
                ${message}
            </div>
            `;
                    setTimeout(() => {
                        host.innerHTML = "";
                    }, 5000);

                }
            </script>


</body>

{%with messages = get_flashed_messages(with_categories=true)%}
{%if messages%}
{% for category, msg in messages %}
{% if category == "deleteTrue" %}
<script>
    showDialog({{ msg| tojson }});
</script>
{%endif%}
{% if category == "deleteFail" %}
<script>
    redAlert({{ msg| tojson }});
</script>
{%endif%}
{% if category == "weight" %}
<script>
    weightAlert();
</script>
{%endif%}
{%endfor%}
{%endif%}
{%endwith%}

</html>